@import url("");

/*zakladne */

body,html,:root {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto ;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
button {
    border: none;
}

/*header*/



/*main*/
/*footer*/
